body.lock {
    overflow: hidden;
}

.header {
    max-width: 100%;
    min-width: 320px;
    height: 100px;
    font-weight: 700;
    color: $primary-color;
    background-color: black;
}

// .header-upper {
//     height: 800px;
//     background-image: url("../images/hero/hero.png");
//     background-repeat: no-repeat;
// 	background-position: center center;
// }

.header__burger-icon {
    @media screen and (min-width: 480px) {
        display: none;
    }
}

.header__navbar-wrapper {
    padding: 30px 0;

    @media (max-width: 992px) {
        padding: 22px 0 55px;
        background-color: #27262a;
    }

    @media (max-width: 480px) {
        padding: 32px 0;
    }
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;

    @media (max-width: 992px) {
        gap: 50px;
    }

    @media (max-width: 480px) {
        gap: 0;
    }
}

.header__logo {
    font-family: Lato;
    display: flex;
    align-items: center;
    gap: 17px;
    height: 40px;
    font-size: 24px;
    color: $primary-color;
    transition: color 0.2s ease;
    text-decoration: none;

    &-icon {
        width: 40px;
        height: 40px;
        fill: currentColor;
    }
    &-icon:hover {
        filter: brightness(0) invert(1);
    }


    &-text {
        text-transform: uppercase;
        text-decoration: none;

        @media (max-width: 480px) {
            display: none;
        }
    }

    &:hover {
        color: $primary-color-hover;
    }
}

.header__nav-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 520px;
    text-align: center;
    text-decoration: none;

    &-item a {
        color: $primary-color;
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {
            color: $primary-color-hover;
        }

        @media (max-width: 480px) {
            display: flex;
            align-items: center;
            padding: 0 0 0 40px;
            width: 252px;
            height: inherit;
            font-size: 26px;
            font-weight: 400;
            color: $primary-color-hover;

            &:active {
                color: $primary-color;
            }
        }
    }

    @media (max-width: 992px) {
        position: absolute;
        left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
        top: 85px;

        padding: 0 10px;
    }

    @media (max-width: 768px) {
        gap: 10px;
    }

    @media (max-width: 480px) {
        display: block;
        width: 292px;
        height: 361px;
        padding: 0;
        background-color: #3b3b3b;
        top: -400px;
        overflow: auto;

        &-item {
            position: relative;
            width: inherit;
            height: 88px;
            background-color: #333;

            &::before {
                content: '';
                width: 8px;
                height: 54px;
                background-color: $primary-color;
                position: absolute;
                top: 17px;
                left: 2px;
                transform: scale(0);
                transition: all 0.2s ease;
            }

            &:active::before {
                transform: scale(1);
            }
        }

        &-item:not(:last-child) {
            margin: 0 0 3px;
        }
    }
}

.header__nav.visible {
    top: 104px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.52, 1.45, 0.63, 1.1);
}

.header__btn {
    padding: 11px 34px;

}
.btn {
    padding: 11px 20px;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.06;
    color: $primary-color-hover;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
        color: $primary-color;
        background: $primary-color-hover;
    }

    @media (max-width: 480px) {
        padding: 11px 10px;
        font-size: 15px;
    }
}

