<header class="header">
    <!-- <div class="header-upper"> -->
        <div class="header__navbar-wrapper">
            <div class="container">
                <nav class="header__navbar">
                    <a class="header__logo" href="#">
                        <img class="header__logo-icon" src="./images/hero/Logo_1.png" alt="logo">
                    </img>
                        <div class="header__logo-text">FORKIO</div>
                    </a>
                    <div class="header__nav-and-btn">
                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a href="#">Overview</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#">About Fork</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#">Buying Options</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#">Support</a>
                            </li>
                        </ul>
                        <button class="btn header__btn" type="submit">Buy Now</button>
                    </div>

                    <div class="header__burger-icon">
                        <img src="images/hero/burger-icon.svg" alt="menu icon">
                    </div>
                </nav>
            </div>
        </div>
       

    <!-- </div> -->
    

</header>
