<div class="header-upper">
<div class="header__title container">
    <h1 class="header__title-text appear">Fork App</h1>
    <div class="header__title-desc">A real gamechanger in the world of web development</div>
    <div class="header__title-desc--big-letters">A Real Gamechanger In The World Of Web-Development</div>
    <span class="header__title-version">v. 2.8 For Mac and Windows</span>
</div>
</div>
<div class="header-under container">
    <div class="header-under-inner">
        <button class="btn header__btn-bottom" type="submit">Download For Free Now</button>
        <span class="header__trial">Unlimited 30-Days Trial Period</span>
    </div>
</div>