<section class="section section-price">
    <div class="container">
        <h3 class="price__title">Fork Subscription Pricing</h3>

        <div class="price__subscription-container">
            <div class="price__subscription-item">
                <div class="subscription-item__title-container">
                    <span class="subscription-item__title">Students</span>
                </div>

                <div class="subscription-item__content">
                    <span class="subscription-item__price">$29</span>
                    <span class="subscription-item__term">per month</span>
                    <ul class="subscription-item__list">
                        <li>Personal License</li>
                    </ul>
                    <button class="subscription-item__button">purchase</button>
                </div>
            </div>

            <div class="price__subscription-item">
                <div class="subscription-item__title-container">
                    <span class="subscription-item__title">professional</span>
                </div>

                <div class="subscription-item__content">
                    <span class="subscription-item__price">$59</span>
                    <span class="subscription-item__term">per month</span>
                    <ul class="subscription-item__list">
                        <li>Professional License</li>
                        <li>Email Support</li>
                    </ul>
                    <button class="subscription-item__button">purchase</button>
                </div>
            </div>

            <div class="price__subscription-item subscription-item--large">
                <div class="subscription-item__title-container">
                    <span class="subscription-item__title">agency</span>
                </div>

                <div class="subscription-item__content">
                    <span class="subscription-item__price">$99</span>
                    <span class="subscription-item__term">per month</span>
                    <ul class="subscription-item__list">
                        <li>1-12 Team Members</li>
                        <li>Phone Support</li>
                    </ul>
                    <button class="subscription-item__button">purchase</button>
                </div>
            </div>

            <div class="price__subscription-item">
                <div class="subscription-item__title-container">
                    <span class="subscription-item__title">enterprise</span>
                </div>

                <div class="subscription-item__content">
                    <span class="subscription-item__price">$159</span>
                    <span class="subscription-item__term">per month</span>
                    <ul class="subscription-item__list">
                        <li>Unlimited Team Members</li>
                        <li>24/ 7 Phone Support</li>
                    </ul>
                    <button class="subscription-item__button">purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>