<section class="testimonials">
    <div class="testimonials__container">
      <div class="testimonials__inner">
        <h2 class="testimonials__title">
          People Are Talking About Fork
        </h2>
        <div class="testimonials__reviews">
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img
                src="./images/section_03/Smashing.svg"
                alt="Smashing magazine"
              />
            </div>
            <h5 class="testimonials__review-text">
              Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
              Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </h5>
          </div>
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img
                src="./images/section_03/Codrops.svg"
                alt="Codrops"
              />
            </div>
            <h5 class="testimonials__review-text">
              Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
              rhoncus molestie neque ac, mollis eleifend nibh.
            </h5>
          </div>
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img src="./images/section_03/W_logo.svg" alt="W_logo" />
            </div>
            <h5 class="testimonials__review-text">
              In efficitur in velit et tempus. Duis nec odio dapibus, suscipit
              erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac
              vehicula.
            </h5>
          </div>
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img
                src="./images/section_03/Pixel.svg"
                alt="Pixel Buddha"
              />
            </div>
            <h5 class="testimonials__review-text">
              Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
              Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </h5>
          </div>
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img
                src="./images/section_03/Creative.svg"
                alt="Creative Bloq"
              />
            </div>
            <h5 class="testimonials__review-text">
              Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
              Nulla faucibus lorem id arcu consequat faucibus.
            </h5>
          </div>
          <div class="testimonials__review">
            <div class="testimonials__review-icon">
              <img src="./images/section_03/TNW_logo.svg" alt="TNW" />
            </div>
            <h5 class="testimonials__review-text">
              Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
              Pellentesque porttitor cursus massa et vestibulum.
            </h5>
          </div>
        </div>
        <span class="testimonials__footer"
          >Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
          facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu
          libero tincidunt consequat nec elementum orci. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </span>
      </div>
    </div>
  </section>
  
  