<section class="section section-benefits">
    <div class="container">
        <div class="benefits__container">
            <h3 class="benefits__title">&lt;Here is what you get&gt;</h3>

            <div class="benefits__list-container">
                <div class="benefits__list-item">
                    <div class="list-item__image-container">
                        <img src="images/section_02/icon-get-01.png" alt="Web better">
                    </div>
                    <div class="list-item__text-container">
                        <span class="list-item__title">Creatred to Make The Web Better</span>
                        <p class="list-item__description">
                            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                        </p>
                    </div>
                </div>

                <div class="benefits__list-item">
                    <div class="list-item__image-container">
                        <img src="images/section_02/icon-get-02.png" alt="Tool">
                    </div>
                    <div class="list-item__text-container">
                        <span class="list-item__title">Incredibly Powerful Tool</span>
                        <p class="list-item__description">
                            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>

                <div class="benefits__list-item">
                    <div class="list-item__image-container">
                        <img src="images/section_02/icon-get-03.png" alt="Stuff">
                    </div>
                    <div class="list-item__text-container">
                        <span class="list-item__title">Experimental Stuff</span>
                        <p class="list-item__description">
                            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>

                <div class="benefits__list-item">
                    <div class="list-item__image-container">
                        <img src="images/section_02/icon-get-04.png" alt="Web better">
                    </div>
                    <div class="list-item__text-container">
                        <span class="list-item__title">Creatred to Make The Web Better</span>
                        <p class="list-item__description">
                            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>
            </div>

            <div class="benefits__screen-container">
                <img class="benefits__screenshot" src="images/section_02/section-02_screen.png" alt="screenshot">
            </div>
        </div>
    </div>
</section>